/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
	
    position:fixed;
    bottom:0px;
}

/*
.footer-bottom p.pull-left {
	padding-top: 6px;
}*/

.panel-default > .panel-heading-custom {
    color: #FFFFFF;
    background: #2F2F2F;
    border-color: #ddd;
 }